{% extends 'blog/base.html' %}

{% block content %}
    <div class="container content">

        <div class="record">

            <div class="emptyRecord">
                Потому что могу.
            </div>

        </div>

    </div>
{% endblock %}