{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

    <title>Кафка на каждый день</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

    <div class="page">

        <div class="col-md-12 header">
            <ul>
                <li><a href="{% url 'post_list' %}">Franz Kafka</a></li>
                <li><a id="calendarRef">Календарь</a>
                    <form action="{% url 'post_by_day' %}" class="col-md-2" id="calendar" method="POST">
                        {% csrf_token %}
                        <input type="date" class="form-control" onchange="this.form.submit()" name="date">
                    </form>
                </li>
            </ul>
        </div>

        {% block content %}
        {% endblock %}
            
        <div class="footer">
            <a href="{% url 'about' %}">О проекте</a>
        </div>

    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>