{% extends 'blog/base.html' %}

{% block content %}
    <div class="container content">
        {% for post in posts %}

            <div class="record">

                <div class="text">
                    {{ post.text }}
                </div>

                <div class="date">
                    <span>{{ post.date|date:"j F Y" }}</span>
                </div>

            </div>
            
        {% endfor %}

        {% if not posts %}

            <div class="record">

                <div class="emptyRecord">
                    В этот день Кафка грустил и ничего не написал :(
                </div>

                <div class="date">
                    <span>{% now "j F" %}</span>
                </div>

            </div>

        {% endif %}

    </div>
{% endblock %}
