html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    text-decoration: none;
}

body {
    background-image: url(../backgrounds/kafka2.svg);
    background-size: 120%;
    background-position-x: 60%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    min-height: 100%;
    position: relative;
}

.header {
    background-color: #111;
    opacity: 0.75;
    transition: 0.35s;
}

.header:hover {
    opacity: 0.85;
}

.header ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    transition: 0.35s;
}

.header ul {
    margin: 0px;
}

.header ul:first-child {
    margin-left: 50px;
}

.header ul li a {
    font-size: 1.6em;
    color: #ccc;
    transition: 0.35s;
    font-family: 'Dancing Script', cursive;
}

.header ul li:hover a {
    color: #fff;
}

.header ul li:hover {
    background-color: #666;
}

.content {
    padding-top: 80px;
    padding-bottom: 150px; /* Height of footer    */
}

.content .record {
    background: #111;
    opacity: 0.75;
    font-size: 1.3em;
    padding: 25px;
    border-radius: 10px;
    color: #ddd;
    margin-bottom: 30px;
}

.content .record .emptyRecord {
    text-align: center;
}


.content .record .date {
    font-size: 0.8em;
    color: #aaa;
    text-align: right;
    font-weight: bold;
}

.footer {
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #111; 
    opacity: 0.85;
    text-align: center;
    color: #aaa;
    line-height: 150px;
}

#calendar {
    position: absolute;
    padding: 0;
    visibility: hidden;
}

#calendarRef {
    cursor: pointer;
}

/* Free hosting kostil' */
.cbalink {
    display: none;
}




@media only screen and (orientation: portrait) {
    body {
        background-size: 200%;
        background-position-x: 50%;
        background-position-y: 30%;
        background-repeat: no-repeat;
    }

    .content {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .content {
        padding-top: 40px;
    }
}